.turno {
    padding: 5px;
    margin: 5px;
    border: 2px solid fuchsia;
    border-radius: 5px;
    color: fuchsia;
    background-color: black;
    cursor: pointer;
    transition: 0.3s;
}

.turno:hover {
    background-color: fuchsia;
    color: black;
    box-shadow: 0 0 10px fuchsia, 0 0 20px fuchsia, 0 0 30px fuchsia;
}
