.galeria {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.galeria-imagen {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: 0 4px;
}

@media (max-width: 1024px) {
    .galeria {
        padding: 1rem;
    }
}

@media (max-width: 600px) {
    .galeria {
        padding: 0.5rem;
    }
}

